<!DOCTYPE html>
<html>
<head>
    <title>Symfony Micro Kernel</title>
    <link rel="stylesheet" href="{{ asset('compiled/css/frontend.css') }}">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>{% block page_header %}{% endblock %}</h1>
    </div>
    {% block flash_messages %}{{ include('flashes.html.twig') }}{% endblock %}
    {% block content %}{% endblock %}
</div>

{% block javascript %}
	<script src="{{ asset('compiled/js/app.js') }}"></script>
{% endblock %}
</body>
</html>