<!DOCTYPE html>
<html>
<head>
    <title>Symfony Micro Kernel</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>{% block page_header %}{% endblock %}</h1>
    </div>
    {% block flash_messages %}{{ include('flashes.html.twig') }}{% endblock %}
    {% block content %}{% endblock %}
</div>

<script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>