{% block content %}
	{{ form_start(form) }}
	    {{ form_widget(form) }}
	    <div class="form-actions">
	    	{% block actions %}
			    <input type="submit" value="{% block primary_action_value 'Crear' %}" class="btn btn-primary">
			    <a href="{{ path('post_list') }}" class="btn btn-default">Listado</a>
	    	{% endblock %}
	    </div>
	{{ form_end(form) }}
{% endblock %}